@import url('https://fonts.googleapis.com/css?family=Roboto:400');

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 25px;
  border: 2px solid #FFFFFF;
  padding: 30px;
  width: 400px;
  height: 250px;
}

#random {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #000000; /* Green */
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
}

h1 {
  color: #FFF;
  font-size: 130%;
  text-align: center;
  text-decoration: none;
  margin-top: -20px;
}

#search {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #26B2CE;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
}

#wiki {
  position: absolute;
  top: 88%;
  left: 90%;
  transform: translate(-50%, -50%);

  background-color: #005EFF;
  border: 2px solid #005EFF;
  padding: 10px;
  border-radius: 20px;
  color: white;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
}

input {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 150%;
  margin-top: 15px;
  margin-bottom: 15px;
}
